<Config>
 <Trace>
  <Profile>
   <Name>Standard trace level</Name>
   <Shortcut>s</Shortcut>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x19f</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x102</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
    <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>Standard trace level + B-channel</Name>
   <Shortcut>S</Shortcut>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x19f</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x303</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>Diva TTY interface</Name>
   <Shortcut>t</Shortcut>
   <Required>TTY</Required>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x102</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>Diva TTY interface + B-channel</Name>
   <Shortcut>T</Shortcut>
   <Required>TTY</Required>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x303</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
    <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>Diva TTY interface, detailed</Name>
   <Shortcut>Y</Shortcut>
   <Required>TTY</Required>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x7fffffff</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x303</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>CAPI2.0 interface</Name>
   <Shortcut>c</Shortcut>
   <Required>CAPI</Required>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x102</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>CAPI2.0 interface + B-channel</Name>
   <Shortcut>C</Shortcut>
   <Required>CAPI</Required>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x303</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
    <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>CAPI2.0 interface + data</Name>
   <Shortcut>D</Shortcut>
   <Required>CAPI</Required>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x7fffffff</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x303</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
    <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>CAPI2.0 interface, detailed</Name>
   <Shortcut>F</Shortcut>
   <Required>CAPI</Required>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x7fffffff</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x8019f</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x103</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>Audio Tap (Fax, Modem)</Name>
   <Shortcut>A</Shortcut>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x00</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0x703</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x197</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x83</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x7</Value>
   </Mask>
    <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x7</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x7</Value>
   </Mask>
  </Profile>
  <Profile>
   <Name>History trace</Name>
   <Shortcut>H</Shortcut>
   <Mask>
    <Name>CDebugTraceTTY</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceCAPI</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceXDI</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceADAPTER</Name>
    <Value>0xe03</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceMTPX</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSoftIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSIP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_MTP3</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSS7_ISUP</Name>
    <Value>0x0</Value>
   </Mask>
   <Mask>
    <Name>CDebugTraceSSDD</Name>
    <Value>0x0</Value>
   </Mask>
    <Mask>
    <Name>CDebugTraceDVSCC</Name>
    <Value>0x0</Value>
   </Mask>
  </Profile>
  <CustomMask>
   <DriverDesc>Diva adapter</DriverDesc>
   <Required>ADAPTER</Required>
   <DriverName>CDebugTraceADAPTER</DriverName>
   <Entry>
    <Name>Signalling messages</Name>
    <Value>0x02</Value>
    <Shortcut>D</Shortcut>
   </Entry>
   <Entry>
    <Name>Interface events</Name>
    <Value>0x100</Value>
    <Shortcut>I</Shortcut>
   </Entry>
   <Entry>
    <Name>Debug messages</Name>
    <Value>0x01</Value>
    <Shortcut>M</Shortcut>
   </Entry>
   <Entry>
    <Name>B-channel data</Name>
    <Value>0x200</Value>
    <Shortcut>B</Shortcut>
   </Entry>
   <Entry>
    <Name>Audio tap data</Name>
    <Value>0x400</Value>
    <Shortcut>A</Shortcut>
   </Entry>
   <ExtraEntry>
    <Name>Layer 1 debug/trace messages</Name>
    <Value>0xffffffff</Value>
    <Shortcut>1</Shortcut>
    <DriverName>CDebugTraceADAPTERLayer1</DriverName>
   </ExtraEntry>
   <ExtraEntry>
    <Name>RBS debug/trace messages</Name>
    <Value>0xffffffff</Value>
    <Shortcut>R</Shortcut>
    <DriverName>CDebugTraceADAPTERRBS</DriverName>
   </ExtraEntry>
   <ExtraEntry>
    <Name>RTP debug/trace messages</Name>
    <Value>0xffffffff</Value>
    <Shortcut>T</Shortcut>
    <DriverName>CDebugTraceADAPTERRTP</DriverName>
   </ExtraEntry>
  </CustomMask>
  <CustomMask>
   <DriverDesc>XDI driver</DriverDesc>
   <Required>ADAPTER</Required>
   <DriverName>CDebugTraceXDI</DriverName>
   <Entry>
    <Name>Default (configuration and errors)</Name>
    <Value>0x197</Value>
    <Shortcut>D</Shortcut>
   </Entry>
   <Entry>
    <Name>IDI state machine</Name>
    <Value>0x00380000</Value>
    <Shortcut>I</Shortcut>
   </Entry>
   <Entry>
    <Name>Low level debug messages</Name>
    <Value>0x08</Value>
    <Shortcut>L</Shortcut>
   </Entry>
  </CustomMask>
  <CustomMask>
   <DriverDesc>M-Adapter</DriverDesc>
   <DriverName>CDebugTraceMTPX</DriverName>
   <Entry>
    <Name>Default (configuration and errors)</Name>
    <Value>0x197</Value>
    <Shortcut>D</Shortcut>
   </Entry>
   <Entry>
    <Name>IDI state machine</Name>
    <Value>0x08</Value>
    <Shortcut>I</Shortcut>
   </Entry>
   <Entry>
    <Name>Streaming data</Name>
    <Value>0x00300000</Value>
    <Shortcut>S</Shortcut>
   </Entry>
   <Entry>
    <Name>Low level debug messages</Name>
    <Value>0x2000</Value>
    <Shortcut>L</Shortcut>
   </Entry>
  </CustomMask>
  <CustomMask>
   <DriverDesc>CAPI driver</DriverDesc>
   <Required>CAPI</Required>
   <DriverName>CDebugTraceCAPI</DriverName>
   <Entry>
    <Name>Default (CAPI messages)</Name>
    <Value>0x197</Value>
    <Shortcut>C</Shortcut>
   </Entry>
   <Entry>
    <Name>Debug messages</Name>
    <Value>0x7fffde68</Value>
    <Shortcut>M</Shortcut>
   </Entry>
   <Entry>
    <Name>CAPI DATA B3 messages</Name>
    <Value>0x2000</Value>
    <Shortcut>D</Shortcut>
   </Entry>
  </CustomMask>
  <CustomMask>
   <DriverDesc>softIP media processing</DriverDesc>
   <Required>softIP</Required>
   <DriverName>CDebugTraceSoftIP</DriverName>
   <Entry>
    <Name>Configuration and errors</Name>
    <Value>0x40107</Value>
    <Shortcut>D</Shortcut>
   </Entry>
   <Entry>
    <Name>Signalling</Name>
    <Value>0x40000</Value>
    <Shortcut>S</Shortcut>
   </Entry>
   <Entry>
    <Name>Signalling events</Name>
    <Value>0x2000</Value>
    <Shortcut>E</Shortcut>
   </Entry>
   <Entry>
    <Name>B-channel data</Name>
    <Value>0x300000</Value>
    <Shortcut>B</Shortcut>
   </Entry>
   <Entry>
    <Name>Debug messages</Name>
    <Value>0x1000008</Value>
    <Shortcut>M</Shortcut>
   </Entry>
   <ExtraEntry>
    <Name>RTP debug/trace messages</Name>
    <Value>0xffffffff</Value>
    <Shortcut>T</Shortcut>
    <DriverName>CDebugTraceSoftIPRTP</DriverName>
   </ExtraEntry>
  </CustomMask>
  <CustomMask>
   <DriverDesc>softIP SIP stack</DriverDesc>
   <Required>softIP</Required>
   <DriverName>CDebugTraceSIP</DriverName>
   <Entry>
    <Name>Errors and warnings</Name>
    <Value>0x83</Value>
    <Shortcut>W</Shortcut>
   </Entry>
   <Entry>
    <Name>Basic</Name>
    <Value>0xd30cf</Value>
    <Shortcut>B</Shortcut>
   </Entry>
   <Entry>
    <Name>Extended</Name>
    <Value>0x803d30ef</Value>
    <Shortcut>E</Shortcut>
   </Entry>
   <Entry>
    <Name>Debug</Name>
    <Value>0x803fffef</Value>
    <Shortcut>D</Shortcut>
   </Entry>
  </CustomMask>
  <CustomMask>
   <DriverDesc>SS7 for Diva SSDD</DriverDesc>
   <Required>SSDD</Required>
   <DriverName>CDebugTraceSSDD</DriverName>
   <Entry>
    <Name>Default</Name>
    <Value>0x7</Value>
    <Shortcut>D</Shortcut>
   </Entry>
   <Entry>
    <Name>Verbose</Name>
    <Value>0xf</Value>
    <Shortcut>s</Shortcut>
   </Entry>
   <Entry>
    <Name>Very verbose</Name>
    <Value>0x3f</Value>
    <Shortcut>S</Shortcut>
   </Entry>
   <Entry>
    <Name>Message data</Name>
    <Value>0x40</Value>
    <Shortcut>M</Shortcut>
   </Entry>
  </CustomMask>
  <CustomMask>
   <DriverDesc>SS7 for Diva DVSCC</DriverDesc>
   <Required>DVSCC</Required>
   <DriverName>CDebugTraceDVSCC</DriverName>
   <Entry>
    <Name>Default</Name>
    <Value>0x7</Value>
    <Shortcut>D</Shortcut>
   </Entry>
   <Entry>
    <Name>Signalling</Name>
    <Value>0xf</Value>
    <Shortcut>s</Shortcut>
   </Entry>
   <Entry>
    <Name>Very verbose</Name>
    <Value>0x3f</Value>
    <Shortcut>S</Shortcut>
   </Entry>
   <Entry>
    <Name>Message data</Name>
    <Value>0x40</Value>
    <Shortcut>M</Shortcut>
   </Entry>
  </CustomMask>
 </Trace>
 <Registry>
  <File>
   <Name>info/Config</Name>
   <Category Name="Build" MustView="-1">
    <Entry>
     <Name>Version</Name>
     <Position>9</Position>
    </Entry>
   </Category>
  </File>
  <File>
   <Name>ifcstate</Name>
    <Category Name="Layer 1" MustView="-1">
     <Entry>
      <Name>State</Name>
      <Position>0</Position>
     </Entry>
    </Category>
    <Category Name="Layer 2" MustView="-1">
     <Entry>
      <Name>State</Name>
      <Position>1</Position>
     </Entry>
    </Category>
    <Category Name="Outgoing Calls" MustView="2">
     <Entry>
      <Name>Calls</Name>
      <Position>10</Position>
     </Entry>
     <Entry>
      <Name>Connected</Name>
      <Position>11</Position>
     </Entry>
     <Entry>
      <Name>User Busy</Name>
      <Position>12</Position>
     </Entry>
     <Entry>
      <Name>No Answer</Name>
      <Position>13</Position>
     </Entry>
     <Entry>
      <Name>Wrong Number</Name>
      <Position>14</Position>
     </Entry>
     <Entry>
      <Name>Call Rejected</Name>
      <Position>15</Position>
     </Entry>
     <Entry>
      <Name>Other Failures</Name>
      <Position>16</Position>
     </Entry>
    </Category>
    <Category Name="Incoming Calls" MustView="2">
     <Entry>
      <Name>Calls</Name>
      <Position>2</Position>
     </Entry>
     <Entry>
      <Name>Connected</Name>
      <Position>3</Position>
     </Entry>
     <Entry>
      <Name>User Busy</Name>
      <Position>4</Position>
     </Entry>
     <Entry>
      <Name>Call Rejected</Name>
      <Position>5</Position>
     </Entry>
     <Entry>
      <Name>Wrong Number</Name>
      <Position>6</Position>
     </Entry>
     <Entry>
      <Name>Incompatible Dst</Name>
      <Position>7</Position>
     </Entry>
     <Entry>
      <Name>Out Of Order</Name>
      <Position>8</Position>
     </Entry>
     <Entry>
      <Name>Ignored</Name>
      <Position>9</Position>
     </Entry>
    </Category>
    <Category Name="D-Layer1" MustView="-1">
     <Entry>
      <Name>X-Frames</Name>
      <Position>56</Position>
     </Entry>
     <Entry>
      <Name>X-Bytes</Name>
      <Position>57</Position>
     </Entry>
     <Entry>
      <Name>X-Errors</Name>
      <Position>58</Position>
     </Entry>
     <Entry>
      <Name>R-Frames</Name>
      <Position>59</Position>
     </Entry>
     <Entry>
      <Name>R-Bytes</Name>
      <Position>60</Position>
     </Entry>
     <Entry>
      <Name>R-Errors</Name>
      <Position>61</Position>
     </Entry>
    </Category>
    <Category Name="B-Layer1" MustView="-1">
     <Entry>
      <Name>X-Frames</Name>
      <Position>44</Position>
     </Entry>
     <Entry>
      <Name>X-Bytes</Name>
      <Position>45</Position>
     </Entry>
     <Entry>
      <Name>X-Errors</Name>
      <Position>46</Position>
     </Entry>
     <Entry>
      <Name>R-Frames</Name>
      <Position>47</Position>
     </Entry>
     <Entry>
      <Name>R-Bytes</Name>
      <Position>48</Position>
     </Entry>
     <Entry>
      <Name>R-Errors</Name>
      <Position>49</Position>
     </Entry>
    </Category>
    <Category Name="D-Layer2" MustView="-1">
     <Entry>
      <Name>X-Frames</Name>
      <Position>62</Position>
     </Entry>
     <Entry>
      <Name>X-Bytes</Name>
      <Position>63</Position>
     </Entry>
     <Entry>
      <Name>X-Errors</Name>
      <Position>64</Position>
     </Entry>
     <Entry>
      <Name>R-Frames</Name>
      <Position>65</Position>
     </Entry>
     <Entry>
      <Name>R-Bytes</Name>
      <Position>66</Position>
     </Entry>
     <Entry>
      <Name>R-Errors</Name>
      <Position>67</Position>
     </Entry>
    </Category>
    <Category Name="B-Layer2" MustView="-1">
     <Entry>
      <Name>X-Frames</Name>
      <Position>50</Position>
     </Entry>
     <Entry>
      <Name>X-Bytes</Name>
      <Position>51</Position>
     </Entry>
     <Entry>
      <Name>X-Errors</Name>
      <Position>52</Position>
     </Entry>
     <Entry>
      <Name>R-Frames</Name>
      <Position>53</Position>
     </Entry>
     <Entry>
      <Name>R-Bytes</Name>
      <Position>54</Position>
     </Entry>
     <Entry>
      <Name>R-Errors</Name>
      <Position>55</Position>
     </Entry>
    </Category>
    <Category Name="Modem" MustView="1">
     <Entry>
      <Name>Disc Normal</Name>
      <Position>17</Position>
     </Entry>
     <Entry>
      <Name>Disc Unspecified</Name>
      <Position>18</Position>
     </Entry>
     <Entry>
      <Name>Disc Busy Tone</Name>
      <Position>19</Position>
     </Entry>
     <Entry>
      <Name>Disc Congestion</Name>
      <Position>20</Position>
     </Entry>
     <Entry>
      <Name>Disc Carr Wait</Name>
      <Position>21</Position>
     </Entry>
     <Entry>
      <Name>Disc Trn Timeout</Name>
      <Position>22</Position>
     </Entry>
     <Entry>
      <Name>Disc Incompat</Name>
      <Position>23</Position>
     </Entry>
     <Entry>
      <Name>Disc Frame Rej</Name>
      <Position>24</Position>
     </Entry>
     <Entry>
      <Name>Disc V42Bis</Name>
      <Position>25</Position>
     </Entry>
    </Category>
    <Category Name="Fax" MustView="1">
     <Entry>
      <Name>TX Pages Total</Name>
      <Position>73</Position>
     </Entry>
     <Entry>
      <Name>TX Pages Retrain</Name>
      <Position>74</Position>
     </Entry>
     <Entry>
      <Name>TX Pages Reject</Name>
      <Position>75</Position>
     </Entry>
     <Entry>
      <Name>RX Pages Total</Name>
      <Position>76</Position>
     </Entry>
     <Entry>
      <Name>RX Pages Retrain</Name>
      <Position>77</Position>
     </Entry>
     <Entry>
      <Name>RX Pages Reject</Name>
      <Position>78</Position>
     </Entry>
     <Entry>
      <Name>Disc Normal</Name>
      <Position>26</Position>
     </Entry>
     <Entry>
      <Name>Disc Not Ident</Name>
      <Position>27</Position>
     </Entry>
     <Entry>
      <Name>Disc No Response</Name>
      <Position>28</Position>
     </Entry>
     <Entry>
      <Name>Disc Retries</Name>
      <Position>29</Position>
     </Entry>
     <Entry>
      <Name>Disc Unexp Msg</Name>
      <Position>30</Position>
     </Entry>
     <Entry>
      <Name>Disc No Polling</Name>
      <Position>31</Position>
     </Entry>
     <Entry>
      <Name>Disc Training</Name>
      <Position>32</Position>
     </Entry>
     <Entry>
      <Name>Disc Unexpected</Name>
      <Position>33</Position>
     </Entry>
     <Entry>
      <Name>Disc Application</Name>
      <Position>34</Position>
     </Entry>
     <Entry>
      <Name>Disc Incompat</Name>
      <Position>35</Position>
     </Entry>
     <Entry>
      <Name>Disc No Command</Name>
      <Position>36</Position>
     </Entry>
     <Entry>
      <Name>Disc Long Msg</Name>
      <Position>37</Position>
     </Entry>
     <Entry>
      <Name>Disc Supervisor</Name>
      <Position>38</Position>
     </Entry>
     <Entry>
      <Name>Disc Sub Sep Pwd</Name>
      <Position>39</Position>
     </Entry>
     <Entry>
      <Name>Disc Invalid Msg</Name>
      <Position>40</Position>
     </Entry>
     <Entry>
      <Name>Disc Page Coding</Name>
      <Position>41</Position>
     </Entry>
     <Entry>
      <Name>Disc Sub App Timeout</Name>
      <Position>42</Position>
     </Entry>
     <Entry>
      <Name>Disc Unspecified</Name>
      <Position>43</Position>
     </Entry>
    </Category>
    <Category Name="Information" MustView="-1">
     <Entry>
      <Name>DSPState</Name>
      <Position>72</Position>
     </Entry>
     <Entry>
      <Name>InitialTemperature</Name>
      <Position>68</Position>
     </Entry>
     <Entry>
      <Name>MaxTemperature</Name>
      <Position>70</Position>
     </Entry>
     <Entry>
      <Name>MinTemperature</Name>
      <Position>69</Position>
     </Entry>
     <Entry>
      <Name>Temperature</Name>
      <Position>71</Position>
     </Entry>
    </Category>
  </File>
  <File>
   <Name>info/Config</Name>
   <Category Name="Information" MustView="-1">
    <Entry>
     <Name>CardType</Name>
     <Position>0</Position>
    </Entry>
    <Entry>
     <Name>InterfaceNr</Name>
     <Position>5</Position>
    </Entry>
    <Entry>
     <Name>BoardRevision</Name>
     <Position>6</Position>
    </Entry>
    <Entry>
     <Name>SubFunction</Name>
     <Position>7</Position>
    </Entry>
    <Entry>
     <Name>SubDevice</Name>
     <Position>8</Position>
    </Entry>
    <Entry>
     <Name>ProtocolBuild</Name>
     <Position>9</Position>
    </Entry>
    <Entry>
     <Name>DSPCodeBuild</Name>
     <Position>10</Position>
    </Entry>
    <Entry>
     <Name>PRI</Name>
     <Position>12</Position>
    </Entry>
    <Entry>
     <Name>Channels</Name>
     <Position>1</Position>
    </Entry>
    <Entry>
     <Name>AnalogChannels</Name>
     <Position>11</Position>
    </Entry>
    <Entry>
     <Name>PCIDMA</Name>
     <Position>13</Position>
    </Entry>
   </Category>
  </File>
 </Registry>
</Config>